{% autoescape off %}
{% if msg.include_name and sub.name %}Hello {{ sub.name }}{% endif %}
<br>
{{ msg.message }}
<br><br><br>

<p>   
This message was sent to {{ sub.email }}  {{ sub.name }} .<br>
If you do not want to receive any updates from Alumni Affairs IIT Roorkee, <a href="http://{{ domain }}{% url 'website:unsubscribe' sub.subscription_key %}">this link </a><br>
To update your preferences visit <a href="http://{{ domain }}{% url 'website:update' sub.subscription_key %}"> this link</a>
</p>

{% endautoescape %}