{% extends 'website/base.html' %}

{% block content %}
<section class="content">
  <div class="ui container">
    <div class="ui grid">
      <div class="four wide column">
        <div class="ui vertical pointing menu">
          {% if base.children.len != 0 %}
            {% if base == active %}
              <a class="item">
            {% else %}
              <a class="item" href="{{ base.url }}">
            {% endif %}
            {{ base.title }}
              </a>
              <div class="menu">
                {% for child in base.children %}
                    {% if child == active %}
                      <a class="item" href="javascript:void(0)">
                    {% else %}
                      <a class="item" href="{{ child.url }}">
                    {% endif %}
                    {{ child.title }}
                    </a>
                {% endfor %}
              </div>
          {% else %}
            {% if base == active %}
              <a class="item" href="#">
            {% else %}
              <a class="item" href="{{ base.url }}">
            {% endif %}
          {% endif %}
        </div>
      </div>

      <div class="twelve wide column">
        <h4 class="ui top attached block header">
        {{ active.title }}
        </h4>
        <div class="bottom attached ui segment">
        {{ active.content|safe }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
