<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- vendor module -->
    <link rel="stylesheet" href="css/vendor/flickity.css">
    <link rel="stylesheet" href="css/vendor/semantic.min.css">
    
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="logo-div">
      <div class="ui container">
        <a href="cscd">
          <img src="img/logo.png" alt="" class='logo'>
        </a>
      </div>
    </div>
    <div class="ui menu top lapa-nav">
      <div class="ui container">
        
        <a class="item" href="index.html">
          Home
        </a>
        <div class="ui pointing dropdown link item lapa">
          <span class="text">Shopping</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="header">Categories</div>
            <div class="item">
              <i class="dropdown icon"></i>
              <span class="text">Clothing</span>
              <div class="menu pointing right">
                <div class="header">Mens</div>
                <div class="item">Shirts</div>
                <div class="item">Pants</div>
                <div class="item">Jeans</div>
                <div class="item">Shoes</div>
                <div class="divider"></div>
                <div class="header">Womens</div>
                <div class="item">Dresses</div>
                <div class="item">Shoes</div>
                <div class="item">Bags</div>
              </div>
            </div>
            <div class="item">Home Goods</div>
            <div class="item">Bedroom</div>
            <div class="divider"></div>
            <div class="header">Order</div>
            <div class="item">Status</div>
            <div class="item">Cancellations</div>
          </div>
        </div>
        <a class="item">
          Forums
        </a>
        <a class="item">
          Contact Us
        </a>
      </div>
    </div>
    
  <section class="content">
    <div class="ui container">
      <div class="ui grid">
        <div class="four wide column">
          
          <div class="ui vertical pointing menu">
            <a class="item" href="#">
              Home
            </a>
            <div class="item">
              IITR Home
              <div class="menu">
                <a class="item">Search</a>
                <a class="item">Add</a>
                <a class="item">Remove</a>
              </div>
            </div>
            <a class="active item" href="#">
              Departments
            </a>
            <a class="item" href="#">
              Messages
            </a>
            <div class="ui dropdown item">
              More
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item"><i class="edit icon"></i> Edit Profile</a>
                <a class="item"><i class="globe icon"></i> Choose Language</a>
                <a class="item"><i class="settings icon"></i> Account Settings</a>
              </div>
            </div>
          </div>

        </div>
        <!--<div class="one wide column"></div>-->
        <div class="twelve wide column">
          
          <h4 class="ui top attached block header">
            Departments
          </h4>
          <div class="bottom attached ui segment">
            <p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</b></p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
            <ul>What's Up
              <li>Hello</li>
              <li>Hello</li>
              <li>Hello</li>
              <li>Hello</li>
              <li>Hello</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>
  <div class="foot-r">
    
  </div>
  <section class="foot">
    <div class="ui inverted vertical footer segment">
      <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="three wide column">
            <h4 class="ui inverted header">About</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Sitemap</a>
              <a href="#" class="item">Contact Us</a>
              <a href="#" class="item">Religious Ceremonies</a>
              <a href="#" class="item">Gazebo Plans</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Services</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Banana Pre-Order</a>
              <a href="#" class="item">DNA FAQ</a>
              <a href="#" class="item">How To Access</a>
              <a href="#" class="item">Favorite X-Men</a>
            </div>
          </div>
          <div class="seven wide column">
            <h4 class="ui inverted header">Footer Header</h4>
            <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="super-footer">
      <div class="ui container">
        &copy; 2016 Copyright Text | All Rights Reserved | Indian Institute of Technology, Roorkee
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="js/vendor/semantic.min.js"></script>
  <script src="js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="js/vendor/flickity.js"></script>

    
</body>
</html>
