<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand white" href="/"><b>Alumni Relations Cell</b></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/connect/student_chat/" class="white white-links">Recent Chats</a></li>
					<li><a href="/connect/" class="white white-links">Alumni Connect</a></li>
				</ul>
				<!-- <form class="navbar-form navbar-left">
					<div class="input-group">
						<div class="form-group">
							<input type="text" class="form-control" id="search-bar" placeholder="Search Alumni by name . . .">
						</div>
						<button type="submit" class="btn btn-default" id="search-button"><span class="glyphicon glyphicon-search"></span></button>
					</div>
				</form> -->
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle white white-links" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-user"></span> {{user.name}} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="https://channeli.in">Channeli</a></li>
							<li><a href="/connect/logout/">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container chat-container">

		<div class="chat-panel-parent">
			<div class="chat-row">
				<div class="chat-recent no-pad">
					<div class="panel panel-default m-b-zero chat-panel-child">
						<div class="panel-heading">
							<h3 class="panel-title">Recent chats</h3>
						</div>
						<div class="panel-body">
							<div class="chat-list">
                {% for user in userList %}
                  {% if user == target %}
                    <div class="alumni-name active">
									    <span><a href="#" class="alumni-name-chat">{{ user.name }}</a></span>
								    </div>
                  {% else %}
                    <div class="alumni-name">
                       <span><a href="/connect/student_chat/{{ user.username }}" class="alumni-name-chat">{{ user.name }}</a></span>
								    </div>
                  {% endif %}
                {% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="chat-main no-pad">
					<div class="panel panel-default m-b-zero chat-panel-child pos-rel">
						<div class="panel-heading">
							<h3 class="panel-title">
                {{ target.name }}
							</h3>
						</div>
						<div class="panel-body chat-messages">
              {% for message in messages %}
                {% if message.sender == user %}
                  <div class="sent-message">
									{{ message.message }}
                  </div>
                {% else %}
									<div class="received-message">
                  {{ message.message }}
									</div>
                {% endif %}
             {% endfor %}
						</div>
						<div class="panel-footer chat-message-div">
							<form id='send-message-form'>
								<div class="input-group">
									<div class="chat-form-group">
										<input type="text" class="form-control" id="message-bar" placeholder="Write your message...">
									</div>
									<button type="submit" class="btn btn-default" id="message-button"><span class="glyphicon glyphicon-send"></span></button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="chat-user no-pad">
					<div class="row" style="text-align:center;">
						<div class="col-xs-12">
							<img src="/media/{{ target.photo }}" style="border-radius:50%;width:220px;height:220px;">    
						</div>
						<div class="col-xs-12">
							<h4><b>{{ target.name }}</b></h4>
							<p class="secondary-text">{{ target.student.branch.name }}</p>
              {% if target.student.passout_year %}
							  <p class="secondary-text">{{ target.student.passout_year }}</p>
              {% endif %}
							<hr>
							<br>
							<span>Related Activities :</span>
							<span class="tags">Tags</span><span class="tags">Tags</span><span class="tags">Tags</span><span class="tags">Tags</span>
							<br><br>
							<span>Campus Activities :</span>
							<span class="tags">Tags</span><span class="tags">Tags</span><span class="tags">Tags</span>
							<br><br>
							<a href="#">linkedin</a> , <a href="#">facebook</a> , <a href="#">gmail</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		window.enrollment_no = {{target.username}}
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src='../../../static/connect/js/main.js'></script>
	<script type="text/javascript" src='../../../static/connect/js/chat.js'></script>
</body>
</html>
