{% extends 'connect/base.html' %}
{% block title %}
Chat -
{% endblock %}
{% block content %}
<div class="container chat-container">

		<div class="chat-panel-parent">
			<div class="chat-row">
				<div class="chat-recent no-pad">
					<div class="panel panel-default m-b-zero chat-panel-child">
						<div class="panel-heading">
							<h3 class="panel-title">Recent chats</h3>
						</div>
						<div class="panel-body">
							<div class="chat-list">
                {% if empty %}
                  Start Connecting with people and their names would appear here.
                {% else %}
                  {% for user in userList %}
                    {% if user == target %}
                      <div class="alumni-name active">
									      <span><a href="#" class="alumni-name-chat">{{ user.name }}</a></span>
								      </div>
                    {% else %}
                      <div class="alumni-name">
                         <span><a href="/connect/student_chat/{{ user.username }}" class="alumni-name-chat">{{ user.name }}</a></span>
							  	    </div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
							</div>
						</div>
					</div>
				</div>
				<div class="chat-main no-pad">
					<div class="panel panel-default m-b-zero chat-panel-child pos-rel">
						<div class="panel-heading">
							<h3 class="panel-title">
                {{ target.name }}
							</h3>
						</div>
						<div class="panel-body chat-messages">
            {% if first %}
              This is the start of your chat with {{ target.name }}.
            {% else %}
              {% for message in messages %}
                {% if message.sender == user %}
                  <div class="sent-message">
									{{ message.message }}
                  </div>
                {% else %}
									<div class="received-message">
                  {{ message.message }}
									</div>
                {% endif %}
              {% endfor %}
            {% endif %}
            </div>
						<div class="panel-footer chat-message-div">
              {% if valid %}
              <form id='send-message-form'>
								<div class="input-group">
									<div class="chat-form-group">
										<input type="text" class="form-control" id="message-bar" placeholder="Write your message...">
									</div>
									<button type="submit" class="btn btn-default" id="message-button"><span class="glyphicon glyphicon-send"></span></button>
								</div>
							</form>
              {% else %}
                You can't chat with {{ target.name }}
              {% endif %}
						</div>
					</div>
				</div>
				<div class="chat-user no-pad">
					<div class="row" style="text-align:center;">
						<div class="col-xs-12">
							<img src="https://channeli.in/media/{{ target.photo }}" style="border-radius:50%;width:220px;height:220px;">
						</div>
						<div class="col-xs-12">
							<h4><b>{{ target.name }}</b></h4>
              {% if is_student %}
							  <p class="secondary-text">{{ target.alumni.branch.name }}</p>
                  {% if target.alumni.passout_year %}
							    <p class="secondary-text">{{ target.alumni.passout_year }}</p>
                  {% endif %}
              {% else %}
                <p class="secondary-text">{{ target.student.branch.name }}</p>
              {% endif %}
              <hr>
							<br>
              {% if is_student %}
							  <!--
                {% for tag in target.alumni.tags.all %}
							    <span class="tags">{{tag.name}}</span>
							  {% endfor %}
                -->
							  <br><br>
                {% if target.alumni.profile %}
                  Working as {{ target.alumni.profile }}
                {% endif %}
                {% if target.alumni.company %}
                  Working at {{ target.alumni.company }}
                {% endif %}
                {% if target.alumni.linked_in %}
							    <a href="{{target.alumni.linked_in}}"><img src="/static/connect/images/linkedin.png" class="social-icon"></a>
							  {% endif %}
                {% if target.alumni.facebook %}
                  <a href="{{target.alumni.facebook}}"><img src="/static/connect/images/facebook.png" class="social-icon"></a>
                {% endif %}
							  {% if target.alumni.website %}
							    <a href="{{target.alumni.website}}"><img src="/static/connect/images/web.png" class="social-icon"></a>
							  {% endif %}
              {% else %}
                  <a href="http://students.iitr.ac.in/{{ target.username }}">Website</a>
              {% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		window.enrollment_no = '{{target.username}}';
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src='/static/connect/js/main.js'></script>
	<script type="text/javascript" src='/static/connect/js/chat.js'></script>
{% endblock%}
