{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<h1>{{ room.label }}</h1>
<p>
<label for="handle">Your name:</label>
<input id="handle" type="text" placeholder="handle">
</p>
<form id="chatform">
<table id="chat">
<tbody>
Hello {{user.name}}<br>
You are chatting with {{receiver.name}}
{% for message in messages %}
<tr>
<td>{{ message.datetime_created}}</td>
<td>{{ message.handle }}</td>
<td>{{ message.message }}</td>
</tr> 
{% endfor %}
</tbody>
<tfoot>
<tr>
<td>Say something:</td>
<td colspan=2>
<input id="message" type="text" placeholder="message">
<button type="submit" id="go">Say it</button>
</td>
</tfoot>
</table>
</form>
{% endblock content %}
{% block afterbody %}
<script type="text/javascript" src='{% static "/connect/js/jquery.js" %}'></script>
<script type="text/javascript" src='{% static "/connect/js/jwebsockets.js" %}'></script>
<script type="text/javascript" src='{% static "/connect/js/jchat.js" %}'></script>
{% endblock afterbody %}
