{% extends 'connect/base.html' %}

{% block content %}
<div class="container cont">
<div>
<h1 class="text-center">CONNECT WITH ALUMNI</h1>
<div class="input-group search-big">
  {{ request.user}}
  <!--input type="text" class="form-control" placeholder="Search here..." aria-describedby="basic-addon2">
  <span class="input-group-addon glyphicon glyphicon-search search-icon" id="basic-addon2"></span-->
  <form action = "" method = "post">
  {% csrf_token %}
  {{ form }}
    <input type = "submit" value="submit">
  </form>
{% for alumnus in alumni %}
{{ alumnus }}
{% endfor %}
<script>
function send_mail(alum_id){
  $.ajax({
    method:"POST",
    url:'chat_request/',
    data:{
      "alumni_id":alum_id
    },
    success:function(res){
      console.dir(res);
    }
  })
}
</script>
</div>
<h1 class="text-center"><small class="meta">Search for alumni by name, branch or year of passing</small>
</div>
</div>
{% endblock %}
