{% extends 'connect/base.html' %}
{% block content %}
<div class="container Aligner">

<div class="panel panel-default Aligner-item alumni-connect">
  <div class="panel-heading">
    <h2 class="panel-title"><b>Connect with Alumni</b></h2>
  </div>
  <div class="panel-body">
    <form action = "/connect/advanced/" method = "post">
      {% csrf_token %}
      <div class="form-group col-xs-12">
        {{form.tags}}
      </div>
      <div class = "col-xs-12">
        <span style="float:right">You can also try: <a href = "/connect/advanced/" class = "message-button">Advanced Search</a></span>
      </div>
    </form>
  </div>
</div>


</div>
{% endblock %}
