{% extends 'connect/base.html' %}
{% block content %}
<style>
  ul.search-list{
    list-style-type:none;
    padding:0px 30px 10px 30px;
  }
  ul.search-list li{
    padding:10px;
    border:1px solid #f0f0f0;
  }
  h5.search-name{
    font-weight:600;
  }
  h6.search-subheading{
    font-weight:500;
    color:#BDBDBD;
  }
</style>

<div class="container Aligner">
<div class="panel panel-default Aligner-item alumni-connect">
  <div class="panel-heading">
    <h2 class="panel-title"><b>Connect with Alumni</b></h2>
  </div>
  <div class="panel-body">
    <form action = "/connect/advanced/" method = "post">
      {% csrf_token %}
      <div class="form-group col-xs-12">
        {{form.tags}}
      </div>
      <div class = "col-xs-12">
        <span style="float:right">You can also try: <a href = "/connect/advanced/" class = "message-button">Advanced Search</a></span>
      </div>
    </form>
  </div>
  <div class="search-results">
    <ul class="search-list">
    </ul>
  </div>
</div>
</div>
<script src="../../static/connect/js/main.js"></script>
{% endblock %}
