{% extends 'connect/base.html' %}
{% block content %}

<div class="container Aligner">
<div class="panel panel-default Aligner-item alumni-connect Login">
  <div class="panel-heading">
    <h2 class="panel-title"><b>Alumni Relations Cell</b></h2>
  </div>
  <div class="panel-body">
    <form method='post'>
      {%csrf_token%}
      <div class="form-group col-xs-12">
        <input type="text" id= "id_username" name="username" class="form-control" placeholder="Username">
      </div>
      <div class="form-group col-xs-12">
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Password">
      </div>
      <!-- <div class="form-group col-xs-12">
        <label>Campus Activities</label>
        <input type="email" class="form-control" placeholder="Type Campus Activities . . ." data-role="tagsinput">
      </div> -->
      <div class="col-xs-12 text-center">
        <button type="submit" class="btn btn-success col-xs-12 login-button">Login</button>
      </div>
    </form>
  </div>
</div>

</div>
{% endblock %}
